<!DOCTYPE html>
<html lang="en" xmlns:th="htt://www.thymeleaf.org">
<head>
    <title>Lista De Empleados</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
    a{
    color:white;
    }
    a:hover{
    text-decoration:none;
    }


    </style>
</head>
<body>
<div class="container">
    <h1>Lista de empleados</h1>
    <!--Dibujamos la tabla-->
    <br>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Empresa</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Transacciones</th>
            <th>Editar</th>
            <th>Eliminar</th>

        </tr>
        <!--llenamos la tabla dibujada-->
        <!-- En nuestro cotroller , creamos en viewEmpresas un modelo con un atributo llamado listEmpl-->
        <tr th:each="empleado : ${listEmpl}">
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.correo}"></td>
            <td th:text="${empleado.empresa.nombreEmpresa}"></td>
            <td th:if="${empleado.rol=='ROLE_ADMIN'}">Administrativo</td>
            <td th:if="${empleado.rol=='ROLE_USER'}">Operativo</td>
            <td th:if="${empleado.estado==true}">Activo</td>
            <td th:if="${empleado.estado==false}">Inactivo</td>

            <td><button type="button" class="btn btn-info"><a th:href="@{/Empleado/{id}/Movimientos(id=${empleado.id})}">Ver</a></button></td>
            <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarEmpleado/{id}(id=${empleado.id})}">Editar</a></button></td>
            <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarEmpleado/{id}(id=${empleado.id})}">Eliminar</a></button></td>

        </tr>
    </table>

    <br>
    <button type="button" class="btn btn-info"><a th:href="@{/AgregarEmpleado}">Agregar un nuevo empleado</a></button>
    <br><br>

    <button type="button" class="btn btn-primary"><a th:href="@{/VerListaEmpresas}">Ver lista de Empresas</a></button>
</div>


<script th:inline="javascript">
    window.onload = function(){

        var msm = [[${mensaje}]];
        if(msm == "guardada"){
           Command : toastr["success"]("Empresa creada")
           }

        else if (msm == "actualizada"){
            Command : toastr["success"]("Empresa actualizada")
        }

        else if (msm == "eliminada"){
            Command : toastr["danger"]("Empresa eliminada")
        }

        else if (msm == "errorDelete"){
            Command : toastr["error"]("Error al eliminar la empresa")
        }


            toastr.options={

                "positionClass" : "toast-top-right",
                "showDuration" : "300",
                "showMethod" : "fadeIn",
                "showMethod" : "fadeOut",

            }

    }


</script>

</body>
</html>